<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Main page</title>
    </head>
    <body>
        <h1>WelCome!</h1>
        <p>This is first page.</p>
        <a href="/board">Go board!</a>
    </body>
</html>